.con{
    display: flex;position: fixed; background-color:white;
}
.con div{
    border: 1px solid white;padding: 10px;width: 120px;flex: 1;
}
.con a:hover{
    background-color: yellow;
}
.c {
    display:flex;border: 1px solid white;padding: 10px;justify-content: center;
}
.con1{
    display: flex; background-color:white;
}
.cona{
    border: 1px solid white;padding: 0px;width: auto;flex: 1;
}
.conb{
    border: 1px solid white;padding: 0px;width: auto;flex: 6;
}
.conc{
    border: 1px solid white;padding: 0px;width: auto;flex: 1;
}
.con2{
    display: flex; background-color:white;
}
.a1{
    border: 1px solid white;padding: 0px;width: auto;flex: 1;
}
.a2{
    border: 1px solid white;padding: 0px;width: auto;flex: 2;
}
@media screen and (max-width:600px){
    .con div{border: 1px solid white;padding: 1px;width: 100%;flex: 1;}
    .con2{width: 100%;}
}